@charset "UTF-8";

html { overflow-y:scroll; }

body
{
 background-color:#E0FFC0;
}


body
{
 font-family:Tahoma, Geneva, sans-serif;
 max-width:960px;
 clear:both;
 margin: 0 auto;
}

#head
{
 min-width: 800px;
 min-height:192px;
 padding-bottom:0px;
}

.mainHeader
{
 background-color: #ffffff;
}

.mainHeader nav
{
 background-color: #5E4E44;
}

.mainHeader nav ul li
{
 list-style:none;
 display:inline;

/* margin: 0 0 0 4px;
 padding: 0;*/
}

.mainHeader nav ul li a
{
 font-family:Tahoma, Geneva, sans-serif;
 color:#ffffff; 
 text-decoration:none;
 font-size:1.2em;
 font-weight:bold;
 white-space:nowrap;
 padding: 10px 10px;
}
 
.mainHeader nav ul li a:hover
{
 color: rgb(255,170,0);
}

table td, table th
{
 padding-left: 1em;
}

h1
{
 text-align:center;
}

h1,h2,h3,h4
{
 font-family:Tahoma, Geneva, sans-serif;
}

.orangetext
{ 
 color: rgb(255, 170, 0);
 font-family:Tahoma, Geneva, sans-serif;
}

#spaltegelb
{
        float:left;
        width:512px;
        height:5px;
        margin: 0 auto 0 auto;
        background-color: #ffaa00;
}

#spaltegruen
{
        float:right;
        width:512px;
        height:5px;
        background-color: #85BD04;
}

.logo
{
 padding:2%;
}

.therapeut
{ 
 height:550px;
 width:300px;
 padding-left:1%;
}

.bild1
{
 width:450px;
 float:left;
 padding-right:30px;
}

.bild2
{
 width:450px;
 float:left;
 padding-left:30px;
}

.box
{
 background-color: rgb(255, 170, 0);
}