@charset "UTF-8";
/* CSS Document */

html { overflow-y:scroll; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body{
	background-image:url(../_img/back.jpg);
	background-repeat:repeat;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 16px;
	text-align:justify;
}

#head{
	background-color:#FFFFFF;
	width:1024px;
	height:210px;
	margin:0px auto 0;
	border-radius: 5px 5px 0 0;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;

	
}

h1{
	font-size:1.6em;
	 margin-bottom: 15px;
	 text-align: center;
}

h2{
	font-size:1.2em;
	margin-bottom: 10px;
	margin-top: 10px;
}

#head img{
	padding:8px;
}

#footer{
	clear:both;
	width:1024px;
	height:15px;
	margin:5px auto 15px;
	text-align:right;
	font-size:10px;
}

#footer a{
	text-decoration:none;
	color:#666;
}


#footer a:hover{
	text-decoration:none;
	color:#CC1B10;
}



#logo{
	float:right;
	width:800px;
	
}

ul
{
margin: 10px;
}

#logo img{
	float: right;
	padding-right: 25px;
	margin-bottom: 5px;
	margin-top:10px;
}

#logo p{
	color: #38251A;
	text-align: right;
	padding-right: 40px;
}
	

#navi{
	background-color: #5E4E44;
	width:1024px;
	height:34px;
	margin:0 auto;
	padding-top:2px;
}



#navi ul{
  margin: 0 0 0 4px;
  padding: 0;
} 

#spaltegelb{
	float:left;
	width:512px;
	height:5px;
	margin: 0 auto 0 auto;
	background-color: #ffaa00;
}

#spaltegruen{
	float:right;
	width:512px;
	height:5px;
	background-color: #85BD04;
}
	

#wrapper{
	background-color:#FFFFFF;
	width:1024px;
	margin:0 auto;
	#padding-left:1em;
	#padding-right:1em;
	/*padding-bottom:25px;
	border-radius: 0 0 5px 5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	border-radius:0 0 5px 5px;
	position:relative;*/
}

#blaueecketherapeuten{
	position:absolute;
	left:308px; top:5px; width:17px; height:14px;
	/*background-image:url(../_img/blaue_ecke_links.jpg);*/
	
	background-color:#0081C2;
	
	z-index:88;
}



#ecketherapeuten_links{
	position:absolute;
	left:308px; top:5px; width:17px; height:14px;

	
	background-color: #FFF;
	
	border-radius: 0 30px 0 0;
	
	-webkit-border-top-right-radius:30px;
	border-radius:0 30px 0 0;
	
	z-index:99;
}




#grueneecketherapeuten{
	position:absolute;
	left:850px; top:5px; width:17px; height:14px;
	background-color: #85BD04;

	z-index:88;
}


	
#ecketherapeuten_rechts{
	position:absolute;
	left:850px; top:5px; width:17px; height:14px;

	
	background-color: #FFF;
	
	border-radius: 30px 0 0 0;
	
	-webkit-border-top-left-radius:30px;
	-border-radius: 30px 0 0 0;
	
	z-index:99;
}


#spalterechts{
	float:right;
	width:292px;
	margin-right:33px;
	position:relative;
}




#spaltelinksbreit{
	margin-left:75px;
	margin-top:40px;
	width:600px;
 
}

#spaltelinksschmal{
	margin-left:75px;
	margin-top:40px;
	width:250px;
	
}

#hoch{
	height:250px;
}

#hoch2{
	height:300px;
}

#spaltelinksbreit ul{
	padding-top:15px;
	line-height:24px;
	margin: 0; 
	padding-left: 15px;
}

#spaltelinksbreit a:link, a:focus, a:visited{
	text-decoration:none;
	color:#0081C2;
}


#spaltelinksbreit a:hover{
	text-decoration:none;
	color:#CC1B10;
}

#kontaktfuss1 a:link, a:focus, a:visited{
	text-decoration:none;
	color:#0081C2;
}

#kontaktfuss1 a:hover{
	text-decoration:none;
	color:#CC1B10;
}

#kontaktfuss2 a:link, a:focus, a:visited{
	text-decoration:none;
	color:#0081C2;
}

#kontaktfuss2 a:hover{
	text-decoration:none;
	color:#CC1B10;
}

#kontaktfuss3 a:link, a:focus, a:visited{
	text-decoration:none;
	color:#0081C2;
}

#kontaktfuss3 a:hover{
	text-decoration:none;
	color:#CC1B10;
}

.ueberschriftblau{
	background-color: #0081C2;
	color: #FFFFFF;
	font-size:24px;
	padding:2px 2px 5px 2px;
	float:left;
}

.telefonnummerblau{
	background-color: #0081C2;
	width:235px;
	color: #FFFFFF;
	font-size:12px;
	text-align:right;
	padding:2px 40px 5px 15px;
	margin-top:25px;
	float:left;
	border-radius: 5px 5px 0 0;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	border-radius: 5px 5px 0 0;
}

.telefonnummergruen{
	background-color: #85BD04;
	width:235px;
	color: #FFFFFF;
	font-size:12px;
	text-align:right;
	padding:2px 40px 5px 15px;
	float:left;
	margin-top:2px;

}

.telefonnummerrot{
	background-color: #c5221a;
	width:235px;
	color: #FFFFFF;
	font-size:12px;
	text-align:right;
	padding:2px 40px 5px 15px;
	float:left;
	margin-top:2px;
	border-radius: 0 0 5px 5px ;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-border-radius: 0 0 5px 5px;
}

.ueberschriftrot{
	background-color: #CC1B10;
	color: #FFFFFF;
	font-size:24px;
	padding:2px 2px 5px 2px;
	float:left;
}

.ueberschriftgruen{
	background-color: #85BD04;
	color: #FFFFFF;
	font-size:24px;
	padding:2px 2px 5px 2px;
	float:left;
}

#blaueecke1{
	background-color: #0081C2;
	color: #FFFFFF;
	height:110px;
	width:260px;
	padding:15px;
	margin-top:40px;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-border-radius:5px 5px 5px 5px;
	
}

#rotebox{
	background-color: #c5221a;
	color: #FFFFFF;
	height:18px;
	width:185px;
	padding:15px;
	margin-top:100px;
	margin-left:80px;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-border-radius:5px 5px 5px 5px;
	
}

#rotebox a{
	color: #FFFFFF;
	text-decoration:none;
}

#rotebox a:hover{
	color:#85BD04;
	text-decoration:none;
}



#blaueecke2{
	background-color: #0081C2;
	color: #FFFFFF;
	height:15px;
	width:180px;
	padding:15px;
	border-radius: 0 0 10px 10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-border-radius:0 0 10px 10px;
	float:left;
}

#blaueecke2 a:link, a:focus, a:visited{
	text-decoration:none;
	color:#FFF;
}

#blaueecke2 a:hover{
	text-decoration:none;
	color:#F30;
}




#box{
	background-color: #ffaa00;
	color: #000000;
	/*height:120px;*/
	width:215px;
	padding:15px;
	margin-top:30px;
	/*border-radius: 5px 5px 5px 5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-border-radius:5px 5px 5px 5px;*/
	
}

#blaueecke3 a{
	color: #FFFFFF;
	text-decoration:none;
}

#blaueecke3 a:hover{
	color:#F33;
	text-decoration:none;
}


#blaueecke1 a{
	color: #FFFFFF;
	text-decoration:none;
}

#blaueecke1 a:hover{

	color:#F33;
	text-decoration:none;
}

.orangetext
{color:#ffaa00;}

#orangeecke{
line-height: 1.5;
    font-size:1.2em;
	background-color: #ffaa00;
	color: #FFFFFF;
	height:28px;
	width:185px;
	padding:15px;
	border-radius: 0 0 10px 10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-border-radius:0 0 10px 10px;
	float:left;
}

#orangeecke a:link, a:focus, a:visited{
	text-decoration:none;
	color:#FFF;
}

#orangeecke a:hover{
	text-decoration:none;
	color:#F30;
}

#grueneecke{
line-height: 1.5;
font-size:1.2em;
	background-color: #85BD04;
	color: #FFFFFF;
	height:28px;
	width:185px;
	padding:15px;
	border-radius: 0 0 10px 10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-border-radius:0 0 10px 10px;
	float:right;
}

#grueneecke a:link, a:focus, a:visited{
	text-decoration:none;
	color:#FFF;
}

#grueneecke a:hover{
	text-decoration:none;
	color:#F30;
}

#roteecke2{
	background-color: #c5221a;
	color: #FFFFFF;
	height:35px;
	width:180px;
	padding:15px;
	border-radius: 0 0 10px 10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-border-radius:0 0 10px 10px;
	float:left;
}

#roteecke2 a:link, a:focus, a:visited{
	text-decoration:none;
	color:#FFF;
}

#roteecke2 a:hover{
	text-decoration:none;
	color:#F30;
}

#blaueecke1 img{
	float:right;
	margin-top: -20px;
}

.gross{
	font-size:18px;
}

.padding{
	padding-top:30px;
}

.padding2{
	padding-top:40px;
}

.padding3{
	width:280px;
}

.padding4{
	padding-bottom:5px;
}

.eingerueckt{
	margin-left:15px;
}

.eingerueckt2{
	margin-left:3px;
}

.zentriert{
	text-align:center;
}

.abstandkontakt{
	padding-top:5px;
}

img.kontakt{
	width:240px;
	padding-top:15px;
}


#datenschutzspalte{
	float:right;
	width:600px;
	position:relative;
	
}

#blaulinks{
	position:absolute;
	left:258px; top:0px; width:17px; height:14px;
	background-color: #0081C2;
	z-index:88;
}

#siscoblau_links{
	position:absolute;
	left:258px; top:0px; width:17px; height:14px;
	
	
	background-color: #FFF;
	
	border-radius: 0 30px 0 0;
	
	-webkit-border-top-right-radius:30px;
	-border-radius:0 30px 0 0;
	
	z-index:99;
}



#blaurechts{
	position:absolute;
	left:210px; top:0px; width:17px; height:14px;
	background-color: #0081C2;
	z-index:88;
}


#siscoblau_rechts{
	position:absolute;
	left:215px; top:0px; width:17px; height:14px;

	
	background-color: #FFF;
	
	border-radius: 30px 0 0 0;
	
	-webkit-border-top-left-radius:30px;
	-border-radius: 30px 0 0 0;
	
	z-index:99;
}

#gruenrechts{
	position:absolute;
	left:210px; top:0px; width:17px; height:14px;
	background-color: #85BD04;
	z-index:88;
}

#rotrechts{
	position:absolute;
	left:210px; top:0px; width:17px; height:14px;
	background-color: #CC1B10;
	z-index:88;
}

#gruenlinks{
	position:absolute;
	left:258px; top:0px; width:17px; height:14px;
	background-color: #85BD04;
	z-index:88;
}

#rotlinks{
	position:absolute;
	left:258px; top:0px; width:17px; height:14px;
	background-color: #c5221a;
	z-index:88;
}

#irinagruen_links{
	position:absolute;
	left:258px; top:0px; width:17px; height:14px;
	
	
	background-color: #FFF;
	
	border-radius: 0 30px 0 0;
	
	-webkit-border-top-right-radius:30px;
	-border-radius:0 30px 0 0;
	
	z-index:99;
}

#siscoblau{
	background-color: #0081C2; 
	float:left;
	width:250px;
	height:340px;
	border-radius:10px 10px 10px 10px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-border-radius:10px 10px 10px 10px;
}

.therapeutentext{
	margin-top:115px;
	margin-left:-20px;
	width:310px;
}
.therapeutentext2{
	margin-top:115px;
	margin-left:-20px;
	width:280px;
}

#therapeutentext2 a:link, a:focus, a:visited{
	text-decoration:none;
	color:#0081C2;
}

#therapeutentext2 a:hover{
	text-decoration:none;
	color:#CC1B10;
}


.impressumtext{
	margin-left:-45px;
}

img.zentriert {
display: block;
margin: 5px auto 0 auto;
}

img.links{
	display: block;
	margin: 15px 0 5px 0;
}

img.border{
	border-width:3px;
	border-style:solid;
	border-color:#FFF;
}

img.margintop{
	margin-top:15px;
}

img.eingerueckt{
	margin-left:-12px;
}

img.therapeuten{
	width:180px;
	/*height:229px;*/
}

#siscospalte{
	float:right;
	width:250px;
	height:360px;
	position:relative;
	margin-right: 200px;
	margin-top:20px;
}

#irinaspalte{
	width:300px;
	height:350px;
	float:right;
}

#christianaspalte{
	width:300px;
	height:350px;
	float:right;
	margin-top:20px;
	
}

#leerspalte{
	float:right;
	width:275px;
	height:380px;
	position:relative;
}

#irinagruen{
	background-color: #85BD04;
	float:left;
	width:250px;
	height:340px;
	border-radius: 0 0 10px 10px;
	-webkit-border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-border-radius:0 0 10px 10px;
	
}

#kontaktfuss1{
	float:left;
	margin-left:75px;
	margin-top:25px;
	width:220px;
	padding-bottom:10px;
}

#kontaktfuss2{
	float:left;
	width:240px;
	margin-left:35px;
	padding-top:25px;
	
}

#kontaktfuss3{
	float:left;
	width:230px;
	margin-left:20px;
	padding-top:25px;
	
}

#notfallspaltelinks{
	width:350px;
	margin-left:75px;
	margin-top:25px;
}

#notfallspalterechts{
	width:350px;
	float:right;
	margin-right:75px;
	margin-top:25px;
}

.blau{
	color: #0081C2;
}

#blaunotfall{
	color: #ffffff;
	background-color: #0081C2;
	padding:5px;
	margin-left:-5px;
	margin-top:17px;
	width:70px;
}

td{
padding-right:20px;
}

#hoch4{
	height:80px;
}

#hoch5{
	height:250px;
}

.addControl{
	width:25px;
}
